
body{
	background: url(../img/fondo.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.top{
   margin-top: 10%;
}

.btn1{
	margin-left: 70px;
	font-size: 1.2em;
}

.btn2{
	margin-left: 650px;
	font-size: 1.2em;
}



